.navigation{
    position: fixed;
    padding-top: 15px;
    top: 40px;
    bottom: 460px;
    left: 60px;
    right: 0;
    display: flex;
    align-items: center;
    padding-left: 21px;
    background-color: rgb(15, 14, 14);
    z-index: 2;
}

.navigation button{
    margin-left: 14px;
    background-color: rgb(76, 76, 76);
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 7px;
}